* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
header {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(bg-light.png);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 15%;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  gap: 180px;
}

.nav-left-1 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  gap: 3px;
}

.nav-left-2 button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.nav-left-1 h3 {
  font-weight: 600;
  font-size: 22px;
}

.nav-left-2 {
  display: flex;
  gap: 25px;
}

.nav-right {
  display: flex;
  gap: 7px;
}

.nav-right button {
  padding: 8px 16px;
  border-radius: 20px;
  color: #fff;
  background-color: #0f567a;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

#nav-right-start-for-free-btn {
  color: black;
  background-color: white;
}

.new-items {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 25px auto;
  background-color: #083a4d;
  border-radius: 60px;
  width: fit-content;
  padding: 6px 5px;
}

.new-items button {
  background-color: #0c8c5e;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  padding: 4px 9px;
  font-size: 11px;
}

.new-items div {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.header-title {
  margin: 50px auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-title h3 {
  font-size: 65px;
  letter-spacing: -3px;
  font-weight: 600;
  text-align: center;
}

.header-title p {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.header-title-email {
  display: flex;
  text-align: center;
  width: fit-content;
  /* background-color: #62aca7; */
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 6px 5px;
  border-radius: 20px;
  margin: 0px auto;
}

.header-title-email input {
  border: none;
  background-color: transparent;
  padding: 8px;
  
}

.header-title-email button {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  padding: 8px 12px;
  font-weight: 500;
}

.hero-image{
    width: 100%;
}

.hero-image img{
    display: block;
    margin: 100px auto;
    border-radius: 20px;
}